h2 Bedankt voor je bestelling, #{user.firstName}!

br

h4 Bestelling
table
  tbody
  each item in order
    tr 
      td #{item.count} x
      td #{item.label}
      td(style='text-align: right') #{item.price}
  tr
    td(colspan='3')
      hr
  tfoot
    tr
      td(colspan='2')
        strong Totaal
      td 
        strong #{totalPrice}

br

h4 Adres
p #{user.address}
p #{user.postalCode} #{user.city}

br

h4 Bezorgtijd
p #{user.deliveryTime}

br

h4 Opmerkingen
p #{user.comments}
