h2 #{date}

h4 Bestelling
table
  tbody
  each item in order
    tr
      td 
        strong #{item.type}
      td #{item.count} x
      td #{item.label}
      td(style='text-align: right') #{item.price}
  tr
    td(colspan='3')
      hr
  tfoot
    if deliveryCost
      tr
        td(colspan='2') bezorgkosten
        td
          strong #{deliveryCost}
    tr
      td(colspan='2')
        strong Totaal
      td 
        strong #{price}

br

h4 Klant
p #{user.email}
p #{user.phone}
p #{user.address}
p #{user.postalCode} #{user.city}

br

if user.deliveryTime
  h4 Bezorgtijd
  p #{user.deliveryTime}

  br

if user.comments
  h4 Opmerkingen
  p #{user.comments}
