head
  link(rel="stylesheet", href="/css/style.css", data-inline)

h2 #{date}

section
  h4 Bestelling
  table
    tbody
      each item in order
        tr
          td(class="type") #{item.type}
          td #{item.count} x
          td #{item.label}
          td(style='text-align: right') #{item.total}

      if discount
        tr
          td(colspan='3')
            strong Korting
          td(style='text-align: right')
            strong #{discount}

      if deliveryCost
        tr
          td(colspan='3')
            strong Bezorgkosten
          td(style='text-align: right')
            strong #{deliveryCost}

      tr
        td(colspan='3')
          strong Totaal
        td(style='text-align: right')
          strong #{price}

section
  h4 Klant
  p #{user.firstName} #{user.lastName}
  p #{user.email}
  p #{user.phone}
  p #{user.address}
  p #{user.postalCode} #{user.city}

section
  h4 Bezorgen / Ophalen
  p(style='text-transform: uppercase') #{user.orderMethod}

section
  h4 Tijd
  p #{user.deliveryTime}

section
  if user.comments
    h4 Opmerkingen
    p #{user.comments}
